<div class="estrellagalicia">


<h3>Name: {{this.name}}</h3>
<img src="{{this.image_url}}" width="80px" alt="cerves">
<h3>Description:</h3> <p> {{this.description}} </p>
<h3>Tagline:</h3> <p> {{this.tagline}} </p>



</div>