<div>
  <div class="cerve-inicio">
   
   <img  src="images/beer.png" alt="Beer" width="200px"> 
  </div>
   <nav >
    <div class="boton">
  <button ><a href="/beers">Check the Beers!</a></button>
  <button><a href="/random-beer ">Check a Random Beer</a></button>
   </div>
    </nav>
</div> 