/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

#barra-nav {
  background-color: #2081c3;
  
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}
#barra-nav a{
color: white;
}
#footer {
  background-color: #0a2c42;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 1px -20px 27px 1px rgba(0, 0, 0, 0.74);
  box-shadow: 1px -20px 27px 1px rgba(0, 0, 0, 0.74);
}

.cerve-inicio {
  margin: 100px 200px 20px 200px;
  display: flex;
  justify-content: center;
}
.boton {
  padding: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.boton button {
  background-color: #2081c3;
  margin: 20px 0px 20px 0px;
  border-radius: 8px;
  width: 200px;
  height: 30px;
}
.boton a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.titulo{
    text-align: center ;
    font-family: Arial, Helvetica, sans-serif;
}
#mahou{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 900px;

}
.estrellagalicia{
    width: 100px;
    margin: 50px 50px;
  
}
#sanmiguel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 900px;
}
.sanmiguelmas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 400px;
    
}
